<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/pengawas">Pengawas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
  </ol>
</nav>

<!-- Flash Message -->
<div class="my-2">
  <% if (messages && messages.length > 0) { %>
  <div class="alert alert-success" role="alert">
    <% messages.forEach(message => { %>
    <div><%= message %></div>
    <% }); %>
  </div>
  <% } %>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <a href="/pengawas/create" class="btn btn-primary">Tambah Pengawas</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Telepon</th>
            <th>Alamat</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% pengawas.forEach((pengawas, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= pengawas.name %></td>
            <td><%= pengawas.telepon %></td>
            <td><%= pengawas.alamat %></td>
            <td>
              <a href="/pengawas/<%= pengawas.id %>/edit" class="btn btn-sm btn-info">Edit</a>
              <a href="/pengawas/<%= pengawas.id %>/destroy" class="btn btn-sm btn-danger">Delete</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
